

<div class="container">
  <form [formGroup]="formEndpoint" (ngSubmit)="saveNewEndpoints()">
    <div class="mb-3">
      <label class="form-label">Metódo</label>
      <select class="form-select" formControlName="method">
        <option value="GET">GET</option>
        <option value="POST">POST</option>
        <option value="PUT">PUT</option>
      </select>
      <div class="form-text text-danger" *ngIf="isFormControlInvalid('method')">O metódo é obrigatorio</div>
    </div>
    <div class="mb-3">
      <label class="form-label">URL</label>
      <input type="text" class="form-control" formControlName="url">
      <div class="form-text text-danger" *ngIf="isFormControlInvalid('url')">A url é obrigatoria</div>
    </div>
    <div class="mb-3">
      <label class="form-label">Headers</label>
      <div formArrayName="header">
        <div class="d-flex justify-content-end">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="adicionarHeader()">+</button>
            <button type="button"  class="btn btn-primary" (click)="removerHeader()">-</button>
          </div>
        </div>
        <div *ngFor="let item of arrayControls.controls; let i = index" [formGroupName]="i" class="d-flex">
          <input type="text" formControlName="key" placeholder="Chave" class="form-control">
          <input type="text" formControlName="value" placeholder="Valor" class="form-control">
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Body</label>
      <ngs-code-editor
        class="form-control"
        [options]="options"
        [codeModel]="codeModelBody"
        (valueChanged)="onCodeChangedBody($event)">
      </ngs-code-editor>
    </div>
    <div class="mb-3">
      <label class="form-label">Options</label>
      <ngs-code-editor
        class="form-control"
        [options]="options"
        [codeModel]="codeModelOption"
        (valueChanged)="onCodeChangedOptions($event)">
      </ngs-code-editor>
    </div>
    <div class="mb-3">
      <label class="form-label">Dataset</label>
      <input type="text" class="form-control" formControlName="datasetId">
      <div class="form-text text-danger" *ngIf="isFormControlInvalid('datasetId')">A seleção do Dataset é obrigatoria</div>
    </div>
    <div class="mb-3">
      <label class="form-label">Ordem</label>
      <input type="text" class="form-control" formControlName="order">
    </div>
    <div class="mb-3">
      <label class="form-label">Data de execução</label>
      <input type="text" class="form-control" formControlName="executedAt">
    </div>

    <div class="mb-3">
      <input type="checkbox" class="form-checkbox-control" formControlName="toAuthenticate" id="toAuthenticate">
      &nbsp;
      <label class="form-label" for="toAuthenticate">Autenticado</label>
    </div>
    <div class="mb-3">
      <input type="checkbox" class="form-checkbox-control" formControlName="isActive" id="isActive">
      &nbsp;
      <label class="form-label" for="isActive">Ativo</label>
    </div>

    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>
