<div class="container">
  <div class="d-flex justify-content-between">
    <h3>Atualizar Endpoint´s</h3>
    <button class="btn btn-secondary" routerLink="/endpoints">
      Back
    </button>
  </div>
  <form [formGroup]="formEndpoint" (ngSubmit)="onUpdate()">
    <div class="mb-3">
      <label class="form-label">ID</label>
      <input type="text" class="form-control" formControlName="id" readonly>
    </div>
    <div class="mb-3">
      <label class="form-label">Metódo</label>
      <select class="form-select" formControlName="method">
        <option value="GET">GET</option>
        <option value="POST">POST</option>
        <option value="PUT">PUT</option>
      </select>
      <div class="form-text text-danger" *ngIf="isFormControlInvalid('method')">O metódo é obrigatorio</div>
    </div>
    <div class="mb-3">
      <label class="form-label">URL</label>
      <input type="text" class="form-control" formControlName="url">
    </div>
    <div class="mb-3">
      <label class="form-label">Headers</label>
      <div formArrayName="header">
        <div class="d-flex justify-content-end mb-1">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="adicionarHeader()">+</button>
            <button type="button"  class="btn btn-primary" (click)="removerHeader()">-</button>
          </div>
        </div>
        <div *ngFor="let item of arrayControls.controls; let i = index" [formGroupName]="i" class="d-flex">
          <input type="text" formControlName="key" placeholder="Chave" class="form-control">
          <input type="text" formControlName="value" placeholder="Valor" class="form-control">
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Body</label>
      <ngs-code-editor
        formControlName="body"
        class="form-control"
        theme="theme"
        [options]="options"
        (valueChanged)="onCodeChanged($event)">
    </ngs-code-editor>
      <textarea class="form-control" formControlName="body" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label">Options</label>
      <textarea class="form-control" formControlName="options" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label">Dataset</label>
      <input type="text" class="form-control" formControlName="datasetId">
    </div>
    <div class="mb-3">
      <label class="form-label">Ordem</label>
      <input type="text" class="form-control" formControlName="order">
    </div>
    <div class="mb-3">
      <label class="form-label">Data de execução</label>
      <input type="text" class="form-control" formControlName="executedAt">
    </div>
    <div class="mb-3">
      <input type="checkbox" class="form-checkbox-control" formControlName="toAuthenticate" id="toAuthenticate">
      &nbsp;
      <label for="toAuthenticate" class="form-label">Autenticado</label>
    </div>
    <div class="mb-3">
      <input type="checkbox" class="form-checkbox-control" formControlName="isActive" id="isActive">
      &nbsp;
      <label for="isActive" class="form-label">Ativo</label>
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
  </form>
</div>
